<mat-card class="container mat-elevation-z10">
  
  <div class="containercard">

      <a routerLink="">
          <mat-card class="containerFilho mat-elevation-z10">
          <h1>Aprendendo Ingles</h1>
          <img class="imgBandeira" src="../../assets/eua.png">
          </mat-card>
      </a>
    
      <mat-card class="containerFilhoDisable mat-elevation-z10">
          <h1>Aprendendo Mandarim</h1>
          <img class="imgBandeira" src="../../assets/china.png">
      </mat-card>

      <mat-card class="containerFilhoDisable mat-elevation-z10">
      <h1>Aprendendo Espanhol</h1>
      <img class="imgBandeira" src="../../assets/espanha.png">
      </mat-card>

      <mat-card class="containerFilhoDisable mat-elevation-z10">
          <h1>Aprendendo Alemão</h1>
          <img class="imgBandeira" src="../../assets/alemanha.png">
      </mat-card>

  </div>

  <mat-card class="containerPainel mat-elevation-z10">
      <router-outlet></router-outlet>
  </mat-card>
    
  

</mat-card>
