.containerInteracao{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.containerRespostas{
    margin-top: 50px;

}

strong{
    color: white;
}

input{
    color: white;
    background: rgb(157,62,67);
    background: linear-gradient(90deg, rgba(157,62,67,0.87718837535014) 0%, rgba(71,77,158,0.8603816526610644) 100%);
    border: none;
    width: 300px;
    height: 40px;
    font-size: 1.5em;
    text-align: center;
}


button{
    background-color: rgb(77, 173, 77);
    width: 100px;
    height: 30px;    
    border-radius: 10px;
    border: none;
    margin-top: 10px ;
}

button:hover {
    cursor: pointer;
}
